<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>webpack learn</title>-->
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<!--这是注释-->
<!--<%= htmlWebpackPlugin.options.date %>

<% for(var key in htmlWebpackPlugin){ %>
    <%= key %>
<% } %>

<% for(var key in htmlWebpackPlugin.files){ %>
    <%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key]) %>
<% } %>

-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;

<% for(var key in htmlWebpackPlugin.options){ %>
    <%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key]) %>
<% } %>-->
</body>
</html>